a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
body {
  margin: 0;
font-family: 'Merriweather', serif;
text-align: center;
color: #40514E;
}

hr {
  border: #EAF6F6 6px;
  border-style: dotted none none none;
  width: 8%;
  margin: 80px auto;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    margin: 0%;
    line-height: 2;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container {
  background-color: #EAF6F6;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  width: 100%;
  position: relative;
}

.middle-container {
  color: #40514E;
  margin: 50px auto;
  width: 50%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.profile {
  width: 50%;
  margin: auto;
}
.profile-pic {
  border-radius: 100%;
  width: 50%;
  margin: 20px;
}
.programmer {
  font-weight: normal;
}

.icon1 {
    border-radius: 100%;
    width: 10em;
    float: left;
    margin-right: 30px;
}
.icon2 {
    border-radius: 100%;
    width: 10em;
    float: right;
    margin-left: 30px;
}


.span-underline {
  text-decoration: underline;
}

.emoji {
font-size: 30px;
}

.cloud-top {
  position:absolute;
  right: 25%;
  top: 50px;

}

.cloud-bottom {
  position:absolute;
    top: 400px;left: 20%;
}

p {
line-height: 2;
}

.skill-row {

  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  margin: 100px auto;
  line-height: 2;
}

.btn {
background: #66BFBF;
background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
background-image: -o-linear-gradient(top, #66BFBF, #11999E);
background-image: linear-gradient(to bottom, #66BFBF, #11999E);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius:5px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-size: 1.2em;
font-weight: 400;
padding: 3px 20px;

text-decoration:none;
display: inline-block;
cursor: pointer;
text-align: center;
width:auto;
margin-top: 50px;
}

.btn:hover {
border: dotted #FFFFFF 4px;
background: #11999E;
background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
background-image: -o-linear-gradient(top, #11999E, #66BFBF);
background-image: linear-gradient(to bottom, #11999E, #66BFBF);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
}

.footer-link {
  margin:20px;
  font-family: sans-serif;
}
.footer {
  color: #EAF6F6;
  margin-top: 40px;
  font-size: 0.8em;
}
